<!DOCTYPE html>
<html>
    <head>
        <title>404 Error Page</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main">
            <p>You have entered a wrong url. Please click below links to visit Weather Stats page</p>
            {{>header}}
        </div>
    </body>
</html>